<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Organizer Wydarzeń UEK</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/clickoutside.directive.js"></script>
    <script src="js/jquery.min.js"></script>

    <link href="./favicon.ico" rel="Shortcut icon">
</head>
<body ng-app="app">

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 logo-wrap">
                <a href="https://www.uek.krakow.pl/" target="_blank">
                    <img class="logo img-responsive" src="image/logo.png" alt="Uniwersytet Ekonomiczny w Krakowie">
                </a>
            </div>
            <div class="col-md-6">
                <h1 class="caption">Organizer wydarzeń UEK</h1>
            </div>
            <div class="col-md-3" ng-controller="dateCtrl">
                <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>
                    <h3>{{ data | date : "dd.MM.y" }}</h3></div>
                <div class="hour"><i class="fa fa-clock-o" aria-hidden="true"></i>
                    <h3>{{ time | date : "HH:mm:ss" }}</h3></div>
            </div>
        </div>
    </div>
</header>

<main ng-controller="selectionCtrl">
    <!--Panel search-->
    <div id="panel" class="well"  click-outside="closeNav()">
        <input id="input-search" class="search" type="search" placeholder="Szukaj wydarzenia">
        <div id="search" class="item-search" ng-click="openNav()">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </div>
    </div>

    <!--End panel search-->
    <div class="container">
        <div class="row">

            <div class="col-md-8 main">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading it-cat" role="tab" id="headingOne">
                            <h2 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    wydarzenie 1
                                </a>
                            </h2>
                            <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>
                                <h3>16.05.2017</h3></div>
                            <div class="hour"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                <h3>18:30</h3></div>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                                nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>

                    <div ng-repeat="event in events | orderBy : '-date' " class="panel panel-default">

                        <div class="panel-heading {{ event.category }}-cat" role="tab" id="event_h_{{ event.id }}">
                            <h2 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#event_{{ event.id }}" aria-expanded="true"
                                   aria-controls="event_{{ event.id }}">
                                    {{ event.name }}
                                </a>
                            </h2>
                            <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>
                                <h3>{{ event.date | date : "dd.MM.y" }}</h3></div>
                            <div class="hour"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                <h3>{{ event.date | date : "HH:mm" }}</h3></div>
                            <div class="category-icon"><i class="fa fa-{{ event.category }}" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div id="event_{{ event.id }}" ng-class="{in:$first}" class="panel-collapse collapse"
                             role="tabpanel">
                            <div class="panel-body">
                                <div ng-bind-html="event.content"></div>
                                <div class="btn btn-primary add-favourite" ng-click="addFavourite(event.id)"><i
                                        class="fa fa-star-o" aria-hidden="true"></i> Ulubione
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="col-md-4 sidebar">
                <h2>Sortuj wydarzenia</h2>

                <h3>Przedział czasu</h3>
                <div class="btn-group time-buttons">
                    <button id="30days" type="button" class="btn btn-primary active" ng-click="setActiveTime(30)">30
                        dni
                    </button>
                    <button id="14days" type="button" class="btn btn-primary" ng-click="setActiveTime(14)">14 dni
                    </button>
                    <button id="7days" type="button" class="btn btn-primary" ng-click="setActiveTime(7)">7 dni</button>
                </div>

                <h3>Kategorie</h3>
                <div class="choice-category">
                    <span class="badge all-cat active" ng-click="setActiveCategory('all')">Wszystkie kategorie</span>
                    <span class="badge it-cat" ng-click="setActiveCategory('it')">IT</span>
                    <span class="badge economy-cat" ng-click="setActiveCategory('economy')">Ekonomia</span>
                    <span class="badge sport-cat" ng-click="setActiveCategory('sport')">Sportowe</span>
                    <span class="badge charity-cat" ng-click="setActiveCategory('charity')">Charytatywne</span>
                    <span class="badge autonomy-cat" ng-click="setActiveCategory('autonomy')">Samorząd</span>
                    <span class="badge entertainment-cat" ng-click="setActiveCategory('entertainment')">Rozrywka</span>
                </div>

                <h3>Ulubione</h3>
                <div class="fav text-center">
                    <div class="btn btn-primary" ng-click="showFavourite()"><i class="fa fa-star"
                                                                               aria-hidden="true"></i> Pokaż ulubione
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Organizer wydarzeń UEK</h3>
            </div>
        </div>
    </div>
</footer>

<script src="js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script src="js/firebase.js"></script>

</body>