footer {
    background: $secondColor;
    color: #fff;
    margin-top: 40px;
    h3 {
        padding: 10px 0 15px;
        text-align: center;
        @media #{$md} {
            text-align: left;
        }
    }
}