header {
    background: $firstColor;
    color: #fff;
    margin-bottom: 20px;
    padding: 25px;
    h1 {
        text-align: center;
        padding: 18px 0 10px;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
    }
}

.logo {
    max-width: 200px;
    padding: 10px 0;
    margin-top: 20px;
}
.caption{
    margin-left: 100px;
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

table{
    border-collapse: collapse;
}
table, td {
    border: 1px solid white;
}

td{
    padding: 10px;
}