header {
    background: $firstColor;
    color: #fff;
    margin-bottom: 80px;
    padding: 25px;
	border-bottom: 5px solid darken($firstColor, 10%);
    .date, .hour {
	    display: none;
	    @media #{$md} {
		    display: flex;
	    }
	    width: 100%;
	    max-width: 200px;
	    background: #f4f4f4;
	    margin: 3px 0;
	    float: right;
	    h3, i {
	        display: inline-block;
	        color: #222;
		    text-align: center;
        }
	    h3 {
		    margin: 0;
		    padding: 18px 0 15px;
		    border-left: 4px solid $firstColor;
		    flex: 3;
	    }
	    i {
		    flex: 1;
		    min-width: 60px;
		    text-align: center;
		    font-size: 18px;
		    padding: 17px 0;
	    }
    }
}

.logo-wrap {
	text-align: center;
	@media #{$md} {
		text-align: left;
	}
}

.logo {
    max-width: 200px;
    padding: 10px 0;
	display: inline-block;
}

.caption {
    text-align: center;
    padding: 18px 0 10px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 42px;
    margin: 25px auto 20px;
	max-width: 342px;
}