header {
    background: $firstColor;
    color: #fff;
    margin-bottom: 20px;
    padding: 25px;
	border-bottom: 5px solid darken($firstColor, 10%);
    .date, .hour {
	    width: 100%;
	    float: right;
	    background: #f4f4f4;
	    margin: 5px 0;
	    h3, i {
	        display: inline-block;
	        color: #222;
		    text-align: center;
        }
	    h3 {
		    width: 75%;
	    }
	    i {
		    width: 20%;
		    min-width: 60px;
		    text-align: center;
		    font-size: 18px;
	    }
    }
}

.logo {
    max-width: 200px;
    padding: 10px 0;
}

.caption {
    text-align: center;
    padding: 18px 0 10px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 50px;
    margin: 20px 40px;
}

table {
    border-collapse: collapse;
}
table, td {
    border: 1px solid white;
}

td {
    padding: 10px;
}