@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeueRegular.otf);
    src: url(../fonts/BebasNeueRegular.eot);
    src: url(../fonts/BebasNeueRegular.ttf);
    src: url(../fonts/BebasNeueRegular.woff);
}

$xsm: "only screen and (min-width: 500px)";
$sm: "only screen and (min-width: 768px)";
$md: "only screen and (min-width: 992px)";
$lg: "only screen and (min-width: 1200px)";
$vlg: "only screen and (min-width: 1600px)";

$firstColor: #27AE61;
$secondColor: #444444;

$textFont: 'Lato';
$headersFont: 'BebasNeue';

@mixin transition($time){
    transition: all $time;
}

body {
    font-family: $textFont;
	min-height: 100vh;
}

h1, h2, h3 {
    font-family: $headersFont;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

.panel-group {
	.panel {
		border: none;
		border-radius: 0;
		.panel-heading {
			border-radius: 0;
			background: $secondColor;
			border-left: 10px solid darken($secondColor, 10%);
			color: #fff;
			display: flex;
			h2.panel-title {
				flex: 4;
				font-size: 24px;
				margin: 0;
				padding: 18px 5px 10px;
				a:hover, a:focus {
					text-decoration: none;
				}
			}
			.date, .hour {
				flex: 1;
				display: flex;
				padding: 20px 0 15px;
				h3 {
					margin: 0;
					padding-left: 15px;
					font-size: 18px;
				}
			}
			.category-icon {
				flex: 1;
				background: darken($secondColor, 10%);
				margin: -10px -15px;
				float: right;
				text-align: center;
				line-height: 74px;
				font-size: 24px;
				max-width: 80px;
			}
		}
		.panel-body {
			background: #ECECEC;
			padding: 30px;
		}
	}
}

//CATEGORY OF EVENTS
.panel-group .panel {

	$economy-color: #27AE61;

	.fa-economy:before {
		content: "\f201";
	}

	.economy-cat {
		background: $economy-color;
		border-color: darken($economy-color, 10%);
		.category-icon {
			background-color: darken($economy-color, 10%);
		}
	}

	$entertainment-color: #F39C11;

	.fa-entertainment:before {
		content: "\f001";
	}

	.entertainment-cat {
		background: $entertainment-color;
		border-color: darken($entertainment-color, 10%);
		.category-icon {
			background-color: darken($entertainment-color, 10%);
		}
	}

	$sport-color: #E67E22;

	.fa-sport:before {
		content: "\f1e3";
	}

	.sport-cat {
		background: $sport-color;
		border-color: darken($sport-color, 10%);
		.category-icon {
			background-color: darken($sport-color, 10%);
		}
	}

	$charity-color: #D14840;

	.fa-charity:before {
		content: "\f004";
	}

	.charity-cat {
		background: $charity-color;
		border-color: darken($charity-color, 10%);
		.category-icon {
			background-color: darken($charity-color, 10%);
		}
	}

	$it-color: #297FB8;

	.fa-it:before {
		content: "\f121";
	}

	.it-cat {
		background: $it-color;
		border-color: darken($it-color, 10%);
		.category-icon {
			background-color: darken($it-color, 10%);
		}
	}

	$autonomy-color: #8F44AD;

	.fa-autonomy:before {
		content: "\f19c";
	}

	.autonomy-cat {
		background: $autonomy-color;
		border-color: darken($autonomy-color, 10%);
		.category-icon {
			background-color: darken($autonomy-color, 10%);
		}
	}
}

@import "header";
@import "sidebar";
@import "footer";