@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeueRegular.otf);
    src: url(../fonts/BebasNeueRegular.eot);
    src: url(../fonts/BebasNeueRegular.ttf);
    src: url(../fonts/BebasNeueRegular.woff);
}

$xsm: "only screen and (min-width: 500px)";
$sm: "only screen and (min-width: 768px)";
$md: "only screen and (min-width: 992px)";
$lg: "only screen and (min-width: 1200px)";
$vlg: "only screen and (min-width: 1600px)";

$firstColor: #27AE61;
$secondColor: #444444;

$autonomy-color: #8F44AD;
$charity-color: #D14840;
$economy-color: #17A086;
$entertainment-color: #FAC51C;
$it-color: #297FB8;
$sport-color: #E67E22;

$textFont: 'Lato';
$headersFont: 'BebasNeue';

@mixin transition($time){
    transition: all $time;
}

body {
    font-family: $textFont;
	min-height: 100vh;
}

h1, h2, h3 {
    font-family: $headersFont;
}

h1 {
    font-size: 24px;
	@media #{$md} {
		font-size: 32px;
	}
}

h2 {
    font-size: 18px;
	@media #{$md} {
		font-size: 24px;
	}
}

h3 {
    font-size: 16px;
	@media #{$md} {
		font-size: 18px;
	}
}

.panel-group {
	.panel {
		border: none;
		border-radius: 0;
		z-index: 1;
		.panel-heading {
			border-radius: 0;
			background: $secondColor;
			border-left: 10px solid darken($secondColor, 10%);
			color: #fff;
			display: flex;
			h2.panel-title {
				flex: 4;
				font-size: 24px;
				margin: 0;
				padding: 18px 5px 10px;
				a:hover, a:focus {
					text-decoration: none;
				}
			}
			.date, .hour {
				flex: 1;
				display: flex;
				padding: 20px 0 15px;
				h3 {
					margin: 0;
					padding-left: 15px;
					font-size: 18px;
				}
			}
			.category-icon {
				flex: 1;
				background: darken($secondColor, 10%);
				margin: -10px -15px;
				float: right;
				display: none;
				@media #{$md} {
					display: block;
				}
				text-align: center;
				line-height: 74px;
				font-size: 24px;
				max-width: 80px;
			}
		}
		.panel-body {
			background: #ECECEC;
			padding: 30px;
		}
		&.favourite {
			h2:before {
				font-family: "FontAwesome";
				content: "\f005 ";
				margin-right: 8px;
			}
			.add-favourite .fa:before {
				content: "\f005" !important;
			}
		}
	}
}

//CATEGORY OF EVENTS
.panel-group .panel {

	.fa-economy:before {
		content: "\f201";
	}

	.economy-cat {
		background: $economy-color;
		border-color: darken($economy-color, 10%);
		.category-icon {
			background-color: darken($economy-color, 10%);
			color: $economy-color;
		}
	}

	.fa-entertainment:before {
		content: "\f001";
	}

	.entertainment-cat {
		background: $entertainment-color;
		border-color: darken($entertainment-color, 10%);
		.category-icon {
			background-color: darken($entertainment-color, 10%);
			color: $entertainment-color;
		}
	}

	.fa-sport:before {
		content: "\f1e3";
	}

	.sport-cat {
		background: $sport-color;
		border-color: darken($sport-color, 10%);
		.category-icon {
			background-color: darken($sport-color, 10%);
			color: $sport-color;
		}
	}

	.fa-charity:before {
		content: "\f004";
	}

	.add-form {
		background-color: #e6b800;
		border-color: darken(#e6b800, 10%);
		text-align: center;
		border-right: 80px solid darken(#e6b800, 10%);
		border-left: 80px solid darken(#e6b800, 10%);
	}

	.charity-cat {
		background: $charity-color;
		border-color: darken($charity-color, 10%);
		.category-icon {
			background-color: darken($charity-color, 10%);
			color: $charity-color;
		}
	}

	.fa-it:before {
		content: "\f121";
	}

	.it-cat {
		background: $it-color;
		border-color: darken($it-color, 10%);
		.category-icon {
			background-color: darken($it-color, 10%);
			color: $it-color;
		}
	}

	.fa-autonomy:before {
		content: "\f19c";
	}

	.autonomy-cat {
		background: $autonomy-color;
		border-color: darken($autonomy-color, 10%);
		.category-icon {
			background-color: darken($autonomy-color, 10%);
			color: $autonomy-color;
		}
	}
}

.btn-primary {
	border-radius: 0;
	border: 0;
	font-size: 18px;
	font-family: $headersFont;
	background: $firstColor;
	padding: 10px 20px;
	@include transition(.15s);
	&:hover, &:focus, &:active {
		background: darken($firstColor, 10%) !important;
	}
	i {
		margin-right: 10px;
	}
}

.btn-warning {
	background-color: #e6b800;
	border-radius: 0;
	border: 0;
	font-size: 18px;
	font-family: $headersFont;
	padding: 10px 20px;
	@include transition(.15s);
	i {
		margin-right: 10px;
	}
}

.add-favourite {
	margin-top: 30px;
}

.famous {
	margin-top: 30px;
	float: right;
	margin-right: 2px;
	padding: 9px 13px;
	@media (max-width: 800px) {
		margin-top: -46px;
		margin-right: 150px;
	}


	.fa-plus {
		margin-right: 2px;
		margin-left: 2px;
	}
	.btn-primary{
	}
}
.panel-famous {
	margin-top: 30px;
	float: right;
	background-color: darken($firstColor, 10%);
	padding: 9px 40px;
	font-family: "BebasNeue";
	font-size: 18px;
	color: #ffffff;
	@media (max-width: 800px){
		color: #8F44AD;
	margin-top: 31px;
	margin-right: -25px;
}
}


.fav .btn {
	margin-top: 10px;
}

.event-form {
	input, textarea, select {
		border: 0;
		border-radius: 0;
		border-bottom: #ccc 2px solid;
		box-shadow: none;
		margin: 30px 0;
		&:active, &:focus {
			outline: none;
			box-shadow: none;
			border-bottom-color: $firstColor ;
		}
	}
}

.alert-danger, .alert-succes {
	border-radius: 0;
}

.help-block {
	background: $firstColor;
	border-left: 8px darken($firstColor, 10%) solid;
	color: #fff !important;
	padding: 10px;
}

.ng-invalid {
	border-color: #D14840 !important;
	box-shadow: none !important;
}

.search-panel{
	width: 150px;
	background-color: #8F44AD;
	margin-top: 30px;
	height: 100px;
	position: fixed;
	transition: 0.6s;
	left: -150px;
}

.item-search {
	margin-top: -12px;
	left: 0;
	margin-left: 5px;
	transition: 0.6s;
	position: fixed;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	background-color: #f5f5f5;
	.fa{
		margin: 13px 18px 13px 18px;
	}
}

.well {
	left: -216px;
	position: fixed;
	transition: 0.6s;
	margin-top: -70px;
	padding: 10px;
	z-index: 3;
	@media (max-width: 1010px){
		display: none;
	}
}


.search {
		width: 100%;
		height: 33px;
		border: none;
		font-size: 1em;
		color: #999999;
		float: left;
		padding: .1em .2em 0 .4em;
		margin: 0;
	//border
}


@import "header";
@import "sidebar";
@import "footer";
